.footer-container {
  position: relative;

  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    
    .contact-conainer {          
      .gmail {
        @include contactIconStyling;
        background-image: url('../images/logos/gmail.svg');
      }    
      .linkedin {
        @include contactIconStyling;
        background-image: url('../images/logos/linkedin.svg');
      }    
      .github {
        @include contactIconStyling;
        background-image: url('../images/logos/github.svg');
      }
    }  
  }    
}