@import '../base/_animations.scss';

header {
  height: 400px;
  margin-top: 1em;
  width: 100%;
  background-color: $header-color;
  color: $logo-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    font-family: $font-family;
    width: 6rem;
    height: 6rem;
    border: 1px solid $logo-color;
    position: relative;

    animation-name: moveDown;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
  
    .jm {
      position: absolute;
      bottom:0;
      right: 0;
      font-size: 2em;
    }
  }

  

  .header-text {
    margin: 1em 1em 0 1em;
    text-align: center;

    .header-name {
      animation-name: moveLeft;
      animation-duration: 1.2s;
      animation-timing-function: ease-in;
    }
  
    .header-tagline {
      animation-name: moveRight;
      animation-duration: 1.2s;
      animation-timing-function: ease-in;
    }
  }

}