@media only screen and (max-width: 400px) {

  .nav-header-container {
    display: flex;
    flex-wrap: wrap;

    header {
      order: 1;
      margin: 0;
    }
  
    nav {
      order: 2;
      font-size: 1.2em;

      display: flex;
      justify-content: center;
      margin: 2em auto 0 auto;
      
  
      .domain-header {
        display: none;
      }
  
      .menu {
        display: flex;
        
       
        a {
          display: block;
          margin: 0 1em;      
        }
      }
    }
  
  }

  

  .main-content {
    width: 90%;
    margin: 0 auto;
  }

  .about-me {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .story {
      margin: 0 1.5em;
    }
    
  }


  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    h2 {
      width: 100%;
    }

  }

  .projects {
    margin-top: 2em;

    .project-container {
      width: 80%;
      margin: 4em auto 0 auto;

      img {
        width: 100%; //must specify img with so Flexbox doesn't break
      }
    }

  }

  .footer-container {
    .gmail,
    .github,
    .linkedin {
      height: 1.4em;
      width: 1.4em;
    }
  }

}