/******************************************
* Base Tablet Media Query Styling
*******************************************/
@media only screen and (min-width: 401px) and (max-width: 960px) {

  .about-me {
    display: flex;
    margin: 2em 2em;

    .about-me-header {
      width: 30%;
    }

    .story {
      width: 70%;
      margin-left: 1em;
    }
  }

  .skills {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    margin: 0 2em;



    h2 {
      width: 100%;
      text-align: center;
    }

    .skills-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      ul {
        width: 40%;
      }

    }
  }  

  .footer-container {
    .gmail,
    .github,
    .linkedin {
      height: 1.7em;
      width: 1.7em;
    }
  }
}

@media only screen and (min-width: 401px) and (max-width: 870px) {
  .menu {
    font-size: 1em;
  }
}

@media only screen and (min-width: 871px) and (max-width: 960px) {
  .menu {
    font-size: 1.3em;
  }
}




/******************************************
* Nav/Header Tablet Query Styling
*******************************************/

//Menu Section continues appearing below Header until 654px break point
@media only screen and (min-width: 401px) and (max-width: 654px) {

  .nav-header-container {
    display: flex;
    flex-wrap: wrap;
    

    header {
      order: 1;
      margin: 0;
    }
  
    nav {
      order: 2;
      font-size: 1.2em;
      

      display: flex;
      justify-content: center;
      margin: 2em auto 0 auto;
  
      .domain-header {
        display: none;
      }
  
      .menu {
        display: flex;
       
        a {
          display: block;
          margin: 0 1em;      
        }
      }
    }
  
  }
}


//Domain Header and Menu appear above Header as browser resizes to Desktop
@media only screen and (min-width: 655px) and (max-width: 960px) {

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em;
  
    .menu {
      
      a {
        display: inline-block;  
        margin: 0 1em;
      }
    }
  }
}









/******************************************
* About Me Tablet Query Styling
*******************************************/

//Fixes About Me section after it transitions from Mobile to Tablet
@media only screen and (min-width: 401px) and (max-width: 795px) {
  .about-me {
    display: flex;
    flex-direction: column;
    margin: 2em 2em;

    align-items: center;

  }
}




/******************************************
* Projects Tablet Query Styling
*******************************************/


//Projects Section continues displaying as columns until 903px limit
@media only screen and (min-width: 401px) and (max-width: 903px) {

  .projects h2 {
    text-align: center;
    margin-top: 2em;
    
  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 2em auto;
    

    
    img {
      width: 100%;
    }
    
  }

}


//Projects Section displays as normal rows after 904px breakpoint
@media only screen and (min-width: 904px) and (max-width: 960px) {
  .projects {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    h2 {
      margin: 2em auto 0 auto;
    }

    .project-container {
      display: flex;
      width: 80%;
      margin: 4em auto 0 auto;

      .project-description {
        margin-right: 1em;
        width: 30%;
      }

      .img-container {
        width: 70%;
        img {  
          width: 100%; //must specify img with so Flexbox doesn't break
        }
      }
    }
  }  
}  