@import 'sass/abstracts/_variables.scss';
@import 'sass/abstracts/_icons.scss';
@import 'sass/abstracts/_mixins.scss';
@import 'sass/components/_header.scss';
@import 'sass/components/_skills.scss';


/******************************************
* Base Styling
*******************************************/


*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin: 0;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: $link-color;
}




.about-me {
  //display: flex;
  //justify-content: center;
  //font-size: 1.5em;

  .story {
    //width: 50%;
    //margin-left: 3em;
  }
}



/******************************************
* Mobile Layout
*******************************************/

@media only screen and (max-width: 400px) {
  .page {
    display: flex;
    flex-direction: column;

  }

  header {
    order: 1;
    margin: 0;
  }

  nav {
    order: 2;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    

    .domain-header {
      display: none;
    }

    .menu {
      
      a {
        display: inline-block;
        margin-right: 1em;        
      }
    }
  }

  .main-content {
    width: 90%;
    order: 3;
    margin: 0 auto;

    
  }

  .about-me {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;

    .story {
      margin: 0 1.5em;
    }
    
  }


  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;


    h2 {
      width: 100%;
    }

  }

  .projects {
    margin-top: 2em;

    .project-container {
      width: 80%;
      margin: 4em auto 0 auto;

      img {
        width: 100%; //must specify img with so flexbox doesn't break
      }
    }

  }

}


/******************************************
* Tablet Layout
*******************************************/

@media only screen and (min-width: 401px) and (max-width: 960px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  
    .title {
      margin-left: 1em;
    }
  
    .menu {
      //margin-right: 2em;
      a {
        //text-decoration: none;
        display: inline-block;  
        margin: 0 1em;
    
        //margin-left: 3em;
      }
    }
    
  }

  .about-me {
    display: flex;
    margin: 2em 1em;

    .about-me-header {
      width: 30%;
    }

    .story {
      width: 70%;
    }
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;


    h2 {
      width: 100%;
    }

    ul {
      width: 20%;
    }
  }

  .projects {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    h2 {
      margin: 2em auto 0 auto;
    }

   
    

    


    .project-container {
      display: flex;
      width: 80%;
      margin: 4em auto 0 auto;

      .project-description {
        margin-left: 1em;
        width: 30%;
      }

      .img-container {
        width: 70%;
        
        img {  
          width: 100%; //must specify img with so flexbox doesn't break
        }
      }
    }
  }
}