@import 'sass/abstracts/_variables.scss';
@import 'sass/abstracts/_icons.scss';
@import 'sass/abstracts/_mixins.scss';
@import 'sass/components/_header.scss';
@import 'sass/components/_skills.scss';
@import 'sass/components/_projects.scss';

/******************************************
* Base Styling
*******************************************/


*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin: 0;
}








.about-me {
  //display: flex;
  //justify-content: center;
  //font-size: 1.5em;

  .story {
    //width: 50%;
    //margin-left: 3em;
  }
}



/******************************************
* Mobile Layout
*******************************************/

@media only screen and (max-width: 400px) {
  .page {
    display: flex;
    flex-direction: column;

  }

  header {
    order: 1;
    margin: 0;
  }

  nav {
    order: 2;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    

    .domain-header {
      display: none;
    }

    .menu {
      margin-top: 2em;

      a {
        display: inline-block;
        color: black;
        margin-right: 1em;
        
      }
    }
  }

  .main-content {
    width: 90%;
    order: 3;
    margin: 0 auto;

    
  }

  

  .about-me {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;

    .story {
      margin: 0 1.5em;
    }
    
  }


  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;


    h2 {
      width: 100%;
    }

    ul {
      border: none;
    }
  }

  .projects {
    margin-top: 1em;

    h2 {
      text-align: center;
    }

    .project-container {
      width: 80%;
      margin: 4em auto 0 auto;
    }

  }

}


/******************************************
* Tablet + Desktop Layout
*******************************************/

@media only screen and (min-width: 401px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  
    .title {
      margin-left: 1em;
    }
  
    .menu {
      //margin-right: 2em;
      a {
        //text-decoration: none;
        display: inline-block;
        color: black;
  
        margin: 0 1em;
    
        //margin-left: 3em;
      }
    }
    
  }

}






