/**************
* Base Styling
***************/


$header-color: #d8275f;
$logo-color: #fff;


*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin: 0;
}

li[data-skill="JavaScript"] {
  background-image: url('../images/logos/js-logo.svg');
}

li[data-skill="HTML"] {
  background-image: url('../images/logos/html-logo.svg');
}

li[data-skill="CSS"] {
  background-image: url('../images/logos/css-logo.svg');
  background-size: 20px 20px;
}

li[data-skill="Sass"] {
  background-image: url('../images/logos/sass-logo.svg');
}

li[data-skill="React"] {
  background-image: url('../images/logos/react-logo.svg');
}

li[data-skill="React Native"] {
  background-image: url('../images/logos/react-logo.svg');
}

li[data-skill="Redux"] {
  background-image: url('../images/logos/redux-logo.svg');
}

li[data-skill="Node"] {
  background-image: url('../images/logos/nodejs-logo.svg');
  background-size: 20px 20px;
}

li[data-skill="Bootstrap"] {
  background-image: url('../images/logos/bootstrap-logo.svg');
  background-size: 20px 20px;
}

li[data-skill="Bootstrap"] {
  background-image: url('../images/logos/bootstrap-logo.svg');
  background-size: 20px 20px;
}

li[data-skill="jQuery"] {
  background-image: url('../images/logos/jQuery-logo.svg');
  background-size: 40px 20px;
}






nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
 

  .title {
    margin-left: 1em;
  }

  .menu {
    margin-right: 2em;
    a {
      text-decoration: none;
      display: inline-block;
      color: black;
  
      margin-left: 3em;
    }
  }
  
}


header {
  height: 400px;
  margin-top: 1em;
  width: 100%;
  background-color: $header-color;
  color: $logo-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    width: 6rem;
    height: 6rem;
    border: 1px solid $logo-color;
    position: relative;
  
    .jm {
      position: absolute;
      bottom:0;
      right: 0;
      font-size: 2em;
    }
  }

  .header-text {
    margin-top: 1em;
    text-align: center;
  }
}


.about-me {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  font-size: 1.5em;

  .story {
    width: 50%;
    margin-left: 3em;
  }
}




//languages frameworks db-orm misc-tools
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 2em;

  margin-top: 150px;


  h2 {
    width: 100%;
    text-align: center;
  }

  ul {
    width: 20%;
    border: 1px solid black;

    li {
      list-style-type: none;
      background-position: left center;
      background-repeat: no-repeat;
      padding-left: 40px; /* Adjust according to image size to push text across. */
      
    }
  }

}



/**************
* Mobile Layout
***************/

@media only screen and (max-width: 450px) {
  .page {
    display: flex;
    flex-direction: column;

  }

  header {
    order: 1;
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: column;
    order: 2;

    .domain-header {
      display: none;
    }

  }

  .about-me {
    order: 3;
  }


  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 4;
  }

}