@import 'sass/abstracts/_variables.scss';
@import 'sass/abstracts/_icons.scss';
@import 'sass/abstracts/_mixins.scss';
@import 'sass/components/_header.scss';
@import 'sass/components/_skills.scss';
@import 'sass/layouts/_mobile.scss';
@import 'sass/layouts/_tablet.scss';
@import 'sass/layouts/_desktop.scss';


/******************************************
* Base Styling
*******************************************/

*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin: 0;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: $link-color;
}