/******************************************
* Base Styling
*******************************************/


$header-color: #d8275f;
$logo-color: #fff;
$icon-padding: 2em; 


@mixin iconStyling {
  list-style-type: none;
  background-position: left center;
  background-repeat: no-repeat;
  margin: 1em 0;
}



*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin: 0;
}

/*******************************************/








nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
 

  .title {
    margin-left: 1em;
  }

  .menu {
    margin-right: 2em;
    a {
      text-decoration: none;
      display: inline-block;
      color: black;
  
      margin-left: 3em;
    }
  }
  
}


header {
  height: 400px;
  margin-top: 1em;
  width: 100%;
  background-color: $header-color;
  color: $logo-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    width: 6rem;
    height: 6rem;
    border: 1px solid $logo-color;
    position: relative;
  
    .jm {
      position: absolute;
      bottom:0;
      right: 0;
      font-size: 2em;
    }
  }

  .header-text {
    margin-top: 1em;
    text-align: center;
  }
}


.about-me {
  margin-top: 6em;
  //display: flex;
  //justify-content: center;
  //font-size: 1.5em;

  .story {
    //width: 50%;
    //margin-left: 3em;
  }
}




//languages frameworks db-orm misc-tools
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.5em;

  margin-top: 1em;


  h2 {
    width: 100%;
    text-align: center;
  }

  ul {
    border: 1px solid black;

    li {
      @include iconStyling;
    }
  }

}



/******************************************
* Mobile Layout
*******************************************/

@media only screen and (max-width: 450px) {
  .page {
    display: flex;
    flex-direction: column;

  }

  header {
    order: 1;
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: column;
    order: 2;

    .domain-header {
      display: none;
    }

    .menu {
      margin-top: 2em;

    }

  }

  .about-me {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;

    .story {
      margin: 0 1.5em;
    }
    
  }


  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 4;
  }

}






/******************************************
* Icon Styling
*******************************************/


/* Adjust according to icon size to push text across. */
li[data-skill="JavaScript"] {
  background-image: url('../images/logos/js-logo.svg');
  padding-left: $icon-padding; 
      
}

li[data-skill="HTML"] {
  background-image: url('../images/logos/html-logo.svg');
  padding-left: $icon-padding;
}

li[data-skill="CSS"] {
  background-image: url('../images/logos/css-logo.svg');
  background-size: 30px 30px;
  padding-left: $icon-padding; 
}

li[data-skill="Sass"] {
  background-image: url('../images/logos/sass-logo.svg');
  padding-left: $icon-padding; 
  background-position: left center;
}

li[data-skill="SQL"] {
  padding-left: $icon-padding; 
}

li[data-skill="React"] {
  background-image: url('../images/logos/react-logo.svg');
  padding-left: $icon-padding; 
  background-position: left center;
}

li[data-skill="React Native"] {
  background-image: url('../images/logos/react-logo.svg');
  padding-left: $icon-padding; 
  background-position: left center;
}

li[data-skill="Redux"] {
  background-image: url('../images/logos/redux-logo.svg');
  padding-left: $icon-padding;
  background-position: left center;

}

li[data-skill="Node"] {
  background-image: url('../images/logos/nodejs-logo.svg');
  background-size: 20px 20px;
  padding-left: $icon-padding;
  background-position: left center;
}

li[data-skill="Bootstrap"] {
  background-image: url('../images/logos/bootstrap-logo.svg');
  background-size: 20px 20px;
  padding-left: $icon-padding;
  background-position: left center;
}

li[data-skill="Express"] {
  padding-left: $icon-padding;
}

li[data-skill="jQuery"] {
  background-image: url('../images/logos/jQuery-logo.svg');
  background-size: 40px 20px;
  padding-left: $icon-padding;
  background-position: left center; 
}




li[data-skill="MySQL"] {
  background-image: url('../images/logos/mysql-logo.svg');
  padding-left: $icon-padding;
  background-position: left center;

}

li[data-skill="Sequelize"] {
  background-image: url('../images/logos/sequelize-logo.svg');
  background-size: 30px 30px;
  padding-left: $icon-padding;
  background-position: left center;

}

li[data-skill="MongoDB"] {
  padding-left: $icon-padding;
  background-position: left center;

}

li[data-skill="Mongoose"] {
  padding-left: $icon-padding;
  background-position: left center;

}


li[data-skill="webpack"] {
  background-image: url('../images/logos/webpack-logo.svg');
  padding-left: $icon-padding;
  background-position: left center;

}

li[data-skill="Git"] {
  padding-left: $icon-padding;
  background-position: left center;

}

li[data-skill="Heroku"] {
  background-image: url('../images/logos/heroku-logo.svg');
  background-size: 30px 30px;
  padding-left: $icon-padding;
  background-position: left center;

}




