$header-color: #d8275f;
$logo-color: #fff;


*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin: 0;
}

// .page {
//   display: flex;
//   flex-wrap: wrap;
// }




nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .title {
    margin-left: 1em;
  }

  .menu {
    margin-right: 2em;
    a {
      text-decoration: none;
      display: inline-block;
      color: black;
  
      margin-left: 3em;
    }
  }
  
}

header {
  height: 400px;
  margin-top: 1em;
  width: 100%;
  background-color: $header-color;
  color: $logo-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .logo {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    width: 6rem;
    height: 6rem;
    border: 1px solid $logo-color;
    position: relative;
  
    .jm {
      position: absolute;
      bottom:0;
      right: 0;
      font-size: 2rem;
    }
  }

  .header-text {
    margin-top: 1em;
    text-align: center;
  }

  
}

//languages frameworks db-orm misc-tools
.skills {
  display: flex;
  justify-content: space-around;

  ul {
    width: 20%;
    border: 1px solid black;
  }

}










