/******************************************
* Icon Styling
*******************************************/
/* Adjust according to icon size to push text across. */
li[data-skill="JavaScript"] {
  background-image: url("../images/logos/js-logo.svg");
  padding-left: 2em; }

li[data-skill="HTML"] {
  background-image: url("../images/logos/html-logo.svg");
  padding-left: 2em; }

li[data-skill="CSS"] {
  background-image: url("../images/logos/css-logo.svg");
  background-size: 20px 20px;
  padding-left: 2em; }

li[data-skill="Sass"] {
  background-image: url("../images/logos/sass-logo.svg");
  padding-left: 2em;
  background-position: left center; }

li[data-skill="SQL"] {
  padding-left: 2em; }

li[data-skill="React"] {
  background-image: url("../images/logos/react-logo.svg");
  padding-left: 2em;
  background-position: left center; }

li[data-skill="React Native"] {
  background-image: url("../images/logos/react-logo.svg");
  padding-left: 2em;
  white-space: nowrap;
  background-position: left center; }

li[data-skill="Redux"] {
  background-image: url("../images/logos/redux-logo.svg");
  padding-left: 2em;
  background-position: left center; }

li[data-skill="Node"] {
  background-image: url("../images/logos/nodejs-logo.svg");
  background-size: 20px 20px;
  padding-left: 2em;
  background-position: left center; }

li[data-skill="Bootstrap"] {
  background-image: url("../images/logos/bootstrap-logo.svg");
  background-size: 20px 20px;
  padding-left: 2em;
  background-position: left center; }

li[data-skill="Express"] {
  padding-left: 2em; }

li[data-skill="jQuery"] {
  background-image: url("../images/logos/jQuery-logo.svg");
  background-size: 30px 20px;
  padding-left: 2em;
  background-position: left center; }

li[data-skill="MySQL"] {
  background-image: url("../images/logos/mysql-logo.svg");
  padding-left: 2em;
  background-position: left center; }

li[data-skill="Sequelize"] {
  background-image: url("../images/logos/sequelize-logo.svg");
  background-size: 20px 20px;
  padding-left: 2em;
  background-position: left center; }

li[data-skill="MongoDB"] {
  padding-left: 2em;
  background-position: left center; }

li[data-skill="Mongoose"] {
  padding-left: 2em;
  background-position: left center; }

li[data-skill="webpack"] {
  background-image: url("../images/logos/webpack-logo.svg");
  padding-left: 2em;
  background-position: left center; }

li[data-skill="Git"] {
  padding-left: 2em;
  background-position: left center; }

li[data-skill="Heroku"] {
  background-image: url("../images/logos/heroku-logo.svg");
  background-size: 20px 20px;
  padding-left: 2em;
  background-position: left center; }

header {
  height: 400px;
  margin-top: 1em;
  width: 100%;
  background-color: #d8275f;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header .logo {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    width: 6rem;
    height: 6rem;
    border: 1px solid #fff;
    position: relative; }
    header .logo .jm {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 2em; }
  header .header-text {
    margin: 1em 1em 0 1em;
    text-align: center; }

.skills {
  margin-top: 1em; }
  .skills ul {
    border: 1px solid black; }
    .skills ul li {
      list-style-type: none;
      background-position: left center;
      background-repeat: no-repeat;
      margin: 1em 0; }

@media only screen and (max-width: 400px) {
  .nav-header-container {
    display: flex;
    flex-wrap: wrap; }
    .nav-header-container header {
      order: 1;
      margin: 0; }
    .nav-header-container nav {
      order: 2;
      font-size: 1.2em;
      display: flex;
      justify-content: center;
      margin: 2em auto 0 auto; }
      .nav-header-container nav .domain-header {
        display: none; }
      .nav-header-container nav .menu {
        display: flex; }
        .nav-header-container nav .menu a {
          display: block;
          margin: 0 1em; }
  .main-content {
    width: 90%;
    margin: 0 auto; }
  .about-me {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .about-me .story {
      margin: 0 1.5em; }
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .skills h2 {
      width: 100%; }
  .projects {
    margin-top: 2em; }
    .projects .project-container {
      width: 80%;
      margin: 4em auto 0 auto; }
      .projects .project-container img {
        width: 100%; } }

/******************************************
* Base Tablet Media Query Styling
*******************************************/
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .about-me {
    display: flex;
    margin: 2em 2em; }
    .about-me .about-me-header {
      width: 30%; }
    .about-me .story {
      width: 70%;
      margin-left: 1em; }
  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2em; }
    .skills h2 {
      width: 100%;
      text-align: center; }
    .skills .skills-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .skills .skills-container ul {
        width: 40%; } }

@media only screen and (min-width: 401px) and (max-width: 870px) {
  .menu {
    font-size: 1em; } }

@media only screen and (min-width: 871px) and (max-width: 960px) {
  .menu {
    font-size: 1.3em; } }

/******************************************
* Nav/Header Tablet Query Styling
*******************************************/
@media only screen and (min-width: 401px) and (max-width: 654px) {
  .nav-header-container {
    display: flex;
    flex-wrap: wrap; }
    .nav-header-container header {
      order: 1;
      margin: 0; }
    .nav-header-container nav {
      order: 2;
      font-size: 1.2em;
      display: flex;
      justify-content: center;
      margin: 2em auto 0 auto; }
      .nav-header-container nav .domain-header {
        display: none; }
      .nav-header-container nav .menu {
        display: flex; }
        .nav-header-container nav .menu a {
          display: block;
          margin: 0 1em; } }

@media only screen and (min-width: 655px) and (max-width: 960px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em; }
    nav .menu a {
      display: inline-block;
      margin: 0 1em; } }

/******************************************
* About Me Tablet Query Styling
*******************************************/
@media only screen and (min-width: 401px) and (max-width: 795px) {
  .about-me {
    display: flex;
    flex-direction: column;
    margin: 2em 2em;
    align-items: center; } }

/******************************************
* Projects Tablet Query Styling
*******************************************/
@media only screen and (min-width: 401px) and (max-width: 903px) {
  .projects h2 {
    text-align: center;
    margin-top: 2em; }
  .project-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 2em auto; }
    .project-container img {
      width: 100%; } }

@media only screen and (min-width: 904px) {
  .projects {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .projects h2 {
      margin: 2em auto 0 auto; }
    .projects .project-container {
      display: flex;
      width: 80%;
      margin: 4em auto 0 auto; }
      .projects .project-container .project-description {
        margin-right: 1em;
        width: 30%; }
      .projects .project-container .img-container {
        width: 70%; }
        .projects .project-container .img-container img {
          width: 100%; } }

@media only screen and (min-width: 961px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em; }
    nav .menu {
      font-size: 1.5em; }
      nav .menu a {
        display: inline-block;
        margin: 0 1em; }
  .main-content {
    width: 90%;
    margin: 0 auto; }
  .about-me {
    display: flex;
    margin: 2em 2em; }
    .about-me .about-me-header {
      width: 30%; }
    .about-me .story {
      margin-left: 1em;
      width: 70%; }
  .project-container {
    display: flex; }
    .project-container .project-description {
      width: 30%; }
    .project-container .img-container {
      width: 70%; }
    .project-container img {
      width: 70%; } }

/******************************************
* Skills Desktop Query Styling
*******************************************/
@media only screen and (min-width: 961px) and (max-width: 1035px) {
  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2em; }
    .skills h2 {
      width: 100%;
      text-align: center; }
    .skills .skills-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .skills .skills-container ul {
        width: 40%; } }

@media only screen and (min-width: 1036px) {
  .skills {
    display: flex;
    margin: 0 2em; }
    .skills .skills-header {
      width: 30%; }
    .skills .skills-container {
      width: 70%;
      display: flex;
      flex-wrap: wrap; }
      .skills .skills-container ul {
        width: 30%; } }

/******************************************
* Base Styling
*******************************************/
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin: 0; }

.main-content {
  font-size: 1.5em; }

a {
  color: #000000; }
