/******************************************
* Icon Styling
*******************************************/
/* Adjust according to icon size to push text across. */
li[data-skill="JavaScript"] {
  background-image: url("../images/logos/js-logo.svg");
  padding-left: 2em; }

li[data-skill="HTML"] {
  background-image: url("../images/logos/html-logo.svg");
  padding-left: 2em; }

li[data-skill="CSS"] {
  background-image: url("../images/logos/css-logo.svg");
  background-size: 20px 20px;
  padding-left: 2em; }

li[data-skill="Sass"] {
  background-image: url("../images/logos/sass-logo.svg");
  padding-left: 2em;
  background-position: left center; }

li[data-skill="SQL"] {
  padding-left: 2em; }

li[data-skill="React"] {
  background-image: url("../images/logos/react-logo.svg");
  padding-left: 2em;
  background-position: left center; }

li[data-skill="React Native"] {
  background-image: url("../images/logos/react-logo.svg");
  padding-left: 2em;
  background-position: left center; }

li[data-skill="Redux"] {
  background-image: url("../images/logos/redux-logo.svg");
  padding-left: 2em;
  background-position: left center; }

li[data-skill="Node"] {
  background-image: url("../images/logos/nodejs-logo.svg");
  background-size: 20px 20px;
  padding-left: 2em;
  background-position: left center; }

li[data-skill="Bootstrap"] {
  background-image: url("../images/logos/bootstrap-logo.svg");
  background-size: 20px 20px;
  padding-left: 2em;
  background-position: left center; }

li[data-skill="Express"] {
  padding-left: 2em; }

li[data-skill="jQuery"] {
  background-image: url("../images/logos/jQuery-logo.svg");
  background-size: 30px 20px;
  padding-left: 2em;
  background-position: left center; }

li[data-skill="MySQL"] {
  background-image: url("../images/logos/mysql-logo.svg");
  padding-left: 2em;
  background-position: left center; }

li[data-skill="Sequelize"] {
  background-image: url("../images/logos/sequelize-logo.svg");
  background-size: 20px 20px;
  padding-left: 2em;
  background-position: left center; }

li[data-skill="MongoDB"] {
  padding-left: 2em;
  background-position: left center; }

li[data-skill="Mongoose"] {
  padding-left: 2em;
  background-position: left center; }

li[data-skill="webpack"] {
  background-image: url("../images/logos/webpack-logo.svg");
  padding-left: 2em;
  background-position: left center; }

li[data-skill="Git"] {
  padding-left: 2em;
  background-position: left center; }

li[data-skill="Heroku"] {
  background-image: url("../images/logos/heroku-logo.svg");
  background-size: 20px 20px;
  padding-left: 2em;
  background-position: left center; }

header {
  height: 400px;
  margin-top: 1em;
  width: 100%;
  background-color: #d8275f;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header .logo {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    width: 6rem;
    height: 6rem;
    border: 1px solid #fff;
    position: relative; }
    header .logo .jm {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 2em; }
  header .header-text {
    margin-top: 1em;
    text-align: center; }

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1em; }
  .skills h2 {
    text-align: center; }
  .skills ul {
    border: 1px solid black; }
    .skills ul li {
      list-style-type: none;
      background-position: left center;
      background-repeat: no-repeat;
      margin: 1em 0; }

/******************************************
* Base Styling
*******************************************/
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin: 0; }

.main-content {
  display: flex;
  flex-wrap: wrap; }

a {
  color: #000000; }

/******************************************
* Mobile Layout
*******************************************/
@media only screen and (max-width: 400px) {
  .page {
    display: flex;
    flex-direction: column; }
  header {
    order: 1;
    margin: 0; }
  nav {
    order: 2;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    margin-top: 2em; }
    nav .domain-header {
      display: none; }
    nav .menu a {
      display: inline-block;
      margin-right: 1em; }
  .main-content {
    width: 90%;
    order: 3;
    margin: 0 auto; }
  .about-me {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em; }
    .about-me .story {
      margin: 0 1.5em; }
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .skills h2 {
      width: 100%; }
    .skills ul {
      border: none; }
  .projects {
    margin-top: 2em; }
    .projects .project-container {
      width: 80%;
      margin: 4em auto 0 auto; }
      .projects .project-container img {
        width: 100%; } }

/******************************************
* Tablet Layout
*******************************************/
@media only screen and (min-width: 401px) and (max-width: 960px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav .title {
      margin-left: 1em; }
    nav .menu a {
      display: inline-block;
      margin: 0 1em; }
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto; }
    .skills h2 {
      width: 100%; }
    .skills ul {
      width: 20%; }
  .projects {
    margin-top: 2em; }
    .projects .project-container {
      width: 80%;
      margin: 4em auto 0 auto; }
      .projects .project-container img {
        width: 100%; } }
