*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif; }

.page {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  border: 1px solid black; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  header .title {
    margin-left: 1em; }
  header nav {
    margin-right: 2em; }
    header nav a {
      text-decoration: none;
      display: inline-block;
      margin-left: 3em; }

.logo {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  width: 6rem;
  height: 6rem;
  border: 1px solid black;
  position: relative; }
  .logo .jm {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2rem; }
