*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin: 0; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  nav .title {
    margin-left: 1em; }
  nav .menu {
    margin-right: 2em; }
    nav .menu a {
      text-decoration: none;
      display: inline-block;
      color: black;
      margin-left: 3em; }

header {
  height: 400px;
  margin-top: 1em;
  width: 100%;
  background-color: #d8275f;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header .logo {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    width: 6rem;
    height: 6rem;
    border: 1px solid #fff;
    position: relative; }
    header .logo .jm {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 2rem; }
  header .header-text {
    margin-top: 1em;
    text-align: center; }

.skills {
  display: flex;
  justify-content: space-around; }
  .skills ul {
    width: 20%;
    border: 1px solid black; }
