/******************************************
* Icon Styling
*******************************************/


/* Adjust according to icon size to push text across. */
li[data-skill="JavaScript"] {
  background-image: url('../images/logos/js-logo.svg');
  padding-left: $icon-padding; 
}

li[data-skill="HTML"] {
  background-image: url('../images/logos/html-logo.svg');
  padding-left: $icon-padding;
}

li[data-skill="CSS"] {
  background-image: url('../images/logos/css-logo.svg');
  background-size: 20px 20px;
  padding-left: $icon-padding; 
}

li[data-skill="Sass"] {
  background-image: url('../images/logos/sass-logo.svg');
  padding-left: $icon-padding; 
}

li[data-skill="GRAPHQL"] {
  background-image: url('../images/logos/graphql-logo.svg');
  padding-left: $icon-padding;
}
  
li[data-skill="SQL"] {
  padding-left: $icon-padding; 
}

li[data-skill="React"] {
  background-image: url('../images/logos/react-logo.svg');
  padding-left: $icon-padding; 
}

li[data-skill="React Native"] {
  background-image: url('../images/logos/react-logo.svg');
  padding-left: $icon-padding;
  white-space: nowrap; //to prevent icon from expanding when text breaks, no fix for IE
}
  
li[data-skill="Redux"] {
  background-image: url('../images/logos/redux-logo.svg');
  padding-left: $icon-padding;
}

li[data-skill="Apollo"] {
  background-image: url('../images/logos/apollo-logo.svg');
  background-size: 25px 25px;
  padding-left: $icon-padding;
}

li[data-skill="Node"] {
  background-image: url('../images/logos/nodejs-logo.svg');
  background-size: 25px 25px;
  padding-left: $icon-padding;
}

li[data-skill="Bootstrap"] {
  background-image: url('../images/logos/bootstrap-logo.svg');
  background-size: 20px 20px;
  padding-left: $icon-padding;
}
  
li[data-skill="Express"] {
  padding-left: $icon-padding;
}

li[data-skill="jQuery"] {
  background-image: url('../images/logos/jQuery-logo.svg');
  background-size: 30px 20px;
  padding-left: $icon-padding;
   
}

li[data-skill="MySQL"] {
  background-image: url('../images/logos/mysql-logo.png');
  background-size: 30px 20px;
  padding-left: $icon-padding;
}
  
li[data-skill="Sequelize"] {
  background-image: url('../images/logos/sequelize-logo.svg');
  background-size: 20px 20px;
  padding-left: $icon-padding;
}

li[data-skill="MongoDB"] {  
  padding-left: $icon-padding;
}

li[data-skill="Mongoose"] {
  padding-left: $icon-padding;
}
  
  
li[data-skill="webpack"] {
  background-image: url('../images/logos/webpack-logo.svg');
  padding-left: $icon-padding;
}

li[data-skill="Jest"] {
  background-image: url('../images/logos/jest-logo.svg');
  background-size: 30px 30px;
  padding-left: $icon-padding;
}

li[data-skill="AWS"] {
  background-image: url('../images/logos/aws-logo.svg');
  background-size: 43px 45px;
  padding-left: $icon-padding;
 
}

li[data-skill="Heroku"] {
  background-image: url('../images/logos/heroku-logo.svg');
  background-size: 30px 30px;
  padding-left: $icon-padding;
}
  
li[data-skill="Git"] {
  background-image: url('../images/logos/git-logo.svg');
  background-size: 40px 40px;
  padding-left: $icon-padding;
}
  
  

  