/******************************************
* Icon Styling
*******************************************/


/* Adjust according to icon size to push text across. */
li[data-skill="JavaScript"] {
    background-image: url('../images/logos/js-logo.svg');
    padding-left: $icon-padding; 
        
  }
  
  li[data-skill="HTML"] {
    background-image: url('../images/logos/html-logo.svg');
    padding-left: $icon-padding;
  }
  
  li[data-skill="CSS"] {
    background-image: url('../images/logos/css-logo.svg');
    background-size: 20px 20px;
    padding-left: $icon-padding; 
  }
  
  li[data-skill="Sass"] {
    background-image: url('../images/logos/sass-logo.svg');
    padding-left: $icon-padding; 
    background-position: left center;
  }
  
  li[data-skill="SQL"] {
    padding-left: $icon-padding; 
  }
  
  li[data-skill="React"] {
    background-image: url('../images/logos/react-logo.svg');
    padding-left: $icon-padding; 
    background-position: left center;
  }
  
  li[data-skill="React Native"] {
    background-image: url('../images/logos/react-logo.svg');
    padding-left: $icon-padding;
    white-space: nowrap; //to prevent icon from expanding when text breaks, no fix for IE
    background-position: left center;
  }
  
  li[data-skill="Redux"] {
    background-image: url('../images/logos/redux-logo.svg');
    padding-left: $icon-padding;
    background-position: left center;
  
  }
  
  li[data-skill="Node"] {
    background-image: url('../images/logos/nodejs-logo.svg');
    background-size: 20px 20px;
    padding-left: $icon-padding;
    background-position: left center;
  }
  
  li[data-skill="Bootstrap"] {
    background-image: url('../images/logos/bootstrap-logo.svg');
    background-size: 20px 20px;
    padding-left: $icon-padding;
    background-position: left center;
  }
  
  li[data-skill="Express"] {
    padding-left: $icon-padding;
  }
  
  li[data-skill="jQuery"] {
    background-image: url('../images/logos/jQuery-logo.svg');
    background-size: 30px 20px;
    padding-left: $icon-padding;
    background-position: left center; 
  }
  
  li[data-skill="MySQL"] {
    background-image: url('../images/logos/mysql-logo.svg');
    padding-left: $icon-padding;
    background-position: left center;
  
  }
  
  li[data-skill="Sequelize"] {
    background-image: url('../images/logos/sequelize-logo.svg');
    background-size: 20px 20px;
    padding-left: $icon-padding;
    background-position: left center;
  
  }
  
  li[data-skill="MongoDB"] {
    padding-left: $icon-padding;
    background-position: left center;
  
  }
  
  li[data-skill="Mongoose"] {
    padding-left: $icon-padding;
    background-position: left center;
  
  }
  
  
  li[data-skill="webpack"] {
    background-image: url('../images/logos/webpack-logo.svg');
    padding-left: $icon-padding;
    background-position: left center;
  
  }
  
  li[data-skill="Git"] {
    padding-left: $icon-padding;
    background-position: left center;
  
  }
  
  li[data-skill="Heroku"] {
    background-image: url('../images/logos/heroku-logo.svg');
    background-size: 20px 20px;
    padding-left: $icon-padding;
    background-position: left center;
  
  }