@mixin iconStyling {
  list-style-type: none;
  background-position: left center;
  background-repeat: no-repeat;
  margin: 1em 0;
}


@mixin contactIconStyling {
  background-position: left center;
  background-repeat: no-repeat;
  margin: 1em 0;
}
